.row
	.col-md-6
		%h2 Imprimir Recibos
		%hr
	.col-md-5.pull-right
		%h3 Formato de Archivo (xlsx)
		%hr
.col-md-6
	%form.form-horizontal{action: "/print-recibos", method: :post, enctype: "multipart/form-data"}
		= partial :'form'
		%button.btn.btn-primary.pull-right{type: "submit"} Imprimir Recibos

.col-md-5.pull-right
	%p
		1.- El archivo debe comenzar de la fila nro 2,  dejando la primera en blanco.
	%p 
		2.- El archivo debe contener solamente registros de carga con el siguiente formato
		%br
		Registro=Propietario/Piso,unidad, expensa, extrordinarias, Total
	%p
		3.- El campo Propietario/Piso se carga con el siguiente formato
		%br
		NombrePiso (Nombre Propietario). Ej: 1 (Ulke Esteban)
