.row
  .col-md-6
    %h3
      Consorcios
  .col-md-6
    %a.btn.btn-sm.btn-danger{href: "/"} Atras
    %a.btn.btn-sm.btn-primary{href: "/consorcios/new"} Nuevo Consorcio
  %br
  %hr
.row
  .col-md
    %table.table.table-hover
      %thead
        %tr
          %th{scope: 'col'} Nombre
          %th{scope: 'col'} Ciudad
          %th
      %tboby
        - consorcios.each do |consorcio|
          %tr
            %td{scope: 'row'}= consorcio.nombre
            %td= consorcio.ciudad
            %td
              .btn-group
                %button.btn.btn-danger.btn-sm.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
                  Acciones
                .dropdown-menu
                  %a.dropdown-item{href: "/consorcios/#{consorcio.id}/edit"} Editar
                  %form{method:"post", action:"/consorcios/#{consorcio.id}/delete", onsubmit:"return confirm('Seguro que desea borrar el registro?');"}
                    %input{ type:"hidden", name:"_method", value:"delete" }
                    %button.dropdown-item{href: "#", type: 'submit'} Eliminar
